.container-form-login, .container-form-signup{
    width: 340px;
    height: 370px;
    background-color:rgba(44, 44, 44, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    left: 40%;
    top: 250px;
    border-radius: 20px;
    transition: 0.7s;
    opacity: 1;
    z-index: 1;
}

.flip-active{
    transform: rotateY(180deg);
    opacity: 0;
    z-index:-2;
}

.container-form-login>h1, .container-form-signup>h1{
    color:#ffffff ;
    font-size: 20px;
}

.form-signup, .form-login{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-signup input, .form-login input{
   margin-top: 10px;
   width: 277px;
   height: 26px;
   border: 0;
   background-color: transparent;
   border-bottom: 2px solid #d9d9d9;
   color: #ffffff;
}

.form-signup input:focus, .form-login input:focus{
    outline: none;
}

.btn-form{
    width: 118px!important;
    height: 33px!important;
    background-color: #08a8f4!important;
    font-size: 14px!important;
    border: 0!important;
    color: #ffffff;
    margin: 0 auto;
    border-radius:16px ;
}

.flip-text{
    color: #d9d9d9;
    display: flex;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 650px;
}

.flip-button{
    height: 33px;
    background-color: #08a8f4;
    border: 0;
    position: absolute;
    left: 43%;
    top: 700px;
    border-radius: 16px;
    color: #ffffff;
    width: 246px;
}

.flip-button:hover{
    cursor: pointer;
}

.logo-form{
    position: absolute;
    left: 46%;
    top: 150px;
}